$text-dark__orange: #884900;
$text-dark__gray: #222528;
$text-gray: #5b636b;
$text-pink: #db4e66;
$text-white:  #FFFFFF;
$text-wheat: #FAFAF9;
$text-light_gray:#A5AAAF;
$text-yellow: #ddc228;
$text-dark_yellow: #F2B236;