.benefit {
    margin-top: 120px;
    display: flex;
    &__text {
      @include font_6;
      color: $text-dark__gray;
      width: 697px;
    }
    &__par {
      @include font_7;
      color: $text-dark__gray;
      width: 400px;
      display: flex;
      align-items: center;
      margin-left: 25px;
    }
    &__up {
      display: flex;
    }
    &__down {
      display: flex;
      
    }
    &__left {
      display: flex;
    }
    &__but {
      background: #DB4E66;
      box-shadow: 2px 4px 9px rgba(243, 55, 87, 0.42);
      border-radius: 14px;
      border: none;
      width: 306px;
      height: 54px;
      margin-top: 43px;
      cursor: pointer;
      box-shadow: 2px 4px 9px #fbccd4;
    }
    &__butt {
      @include  font_4;
      text-transform: uppercase;
      color: #FFFFFF;
    }
    &__right {
      display: flex;
      margin-top: 37px;
    }
    &__all {
      margin-top: 92px;
    }
    &__ar {
      @include font_3;
      color: $text-dark__gray;
      display: flex;
      align-items: center;
      width: 114px;
      margin-left: 15px;
    }
    &__answer {
      display: flex;
      border: 1px solid #ced0d2;
      box-shadow: 0px 4px 9px #d3d3d3;
      border-radius: 64px;
      width: 276px;
      margin-left: 80%;
    }
  }
  @media screen and (max-width: 780px) {
    .benefit__content {
      flex-wrap: wrap;
    }
    .container {
        max-width: 660px;
    }
  .benefit__answer {
    display: flex;
    align-items: start;
  }
  .benefit__down {
    padding-top: 24px;
  }
    .benefit__text {
      font-family: "Rubik";
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 38px;
max-width: 335px;
    }
    .benefit__left{
      flex-wrap: wrap;
    }
    .benefit__right {
      flex-wrap: wrap;
    }
  }
  