@mixin font_1 {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
  }
  
  @mixin font_3 {
    font-family: "Rubik";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 160%;
  }
  @mixin font_4 {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  }
  @mixin font_5 {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
  }
  
  @mixin font_6 {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
  }
  
  @mixin font_7 {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }
  